body{
    color: #375ebf;
    background-color: #f5f5f5;
    margin: auto;
    width: 80%;
    font-family: Helvetica, sans-serif;
    align-items: center;
    text-align: center;
}
.old-header{
    background-color: #d3d6f3;
    color: #375ebf;
    border-radius: .35rem;
    padding: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    width: 58%;
    margin:auto;
}
.grid-container{
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 50% 50%;
    padding: 2px;
    width: 60%;
    margin:auto;
}
.grid-item{
    background-color: #d3d6f3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 10px;
    text-align: center;
}
.grid-item-extra{
    margin: 10px 100px;
}
.textbox{
    width: 95%;
    height: 90%;
    font-size: 18px;
}
.cancel{
    background-color: #f06871;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    font-family: Helvetica, sans-serif;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    transition: 0.3s;
    opacity: 0.6;
}
.submit{
    background-color: #68f09c;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    font-family: Helvetica, sans-serif;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    transition: 0.3s;
    opacity: 0.6;
}
.submit:hover{
    opacity: 1;
}
.cancel:hover{
    opacity: 1
}