.logo {
  color: #F5F5F5;
  background-color: #094074;
  text-align: center;
  height: 150px;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}

h1 {
  font-size: 100px;
  padding-top: 20px;
  margin: 0;
}

header {
  background-color: #564787;
  height: 6%;
  margin-top: 0;
  border-radius: 3px;
}

.container {
  width: 100%;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
float: center;
width: 100%;
height: 100%;
}

.menu-are {
  width: 100%;
  overflow: auto;
}

.menu-area ul {
  list-style: none;
  margin: 0px;
  padding: 0;
}

.menu-area ul li {
  float: left;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

 a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  font-weight: bold;
  margin: 15px 20px 0px 20px;
  display: block;
  text-align: center;
}

nav a:hover {
  color: #5572bd;
}

.contain-search {
  height:100%;
  justify-content: start;
}

#search-text {
  width: 400px;
  height: 75%;
  display: flex;
  margin:7px 7px 0 0;
  padding:none;
  border:none;
  font-size:18px;
}

#text-bar-icon{
  background-color: #5572bd;
  width: 10%;
  height: 75%;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  margin:7px 0 0 0;
}

#text-bar-icon .fas{
  position: absolute;
  top:50%;
  left:50%;
}